**NAME:KARTHIKEYAN.K**

**REGISTER NO:212221230046**

**EXPERIMENT:EX 1(Data-Preprocessing)**

---

In [2]:
import pandas as pd
df=pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [5]:
df.drop(["RowNumber","Age","Gender","Geography","Surname"],inplace=True,axis=1)
print(df)

      CustomerId  CreditScore  Tenure    Balance  NumOfProducts  HasCrCard  \
0       15634602          619       2       0.00              1          1
1       15647311          608       1   83807.86              1          0
2       15619304          502       8  159660.80              3          1
3       15701354          699       1       0.00              2          0
4       15737888          850       2  125510.82              1          1
...          ...          ...     ...        ...            ...        ...
9995    15606229          771       5       0.00              2          1
9996    15569892          516      10   57369.61              1          1
9997    15584532          709       7       0.00              1          0
9998    15682355          772       3   75075.31              2          1
9999    15628319          792       4  130142.79              1          1

      IsActiveMember  EstimatedSalary  Exited
0                  1        101348.88       1
1                  1        112542.58       0
2                  0        113931.57       1
3                  0         93826.63       0
4                  1         79084.10       0
...              ...              ...     ...
9995               0         96270.64       0
9996               1        101699.77       0
9997               1         42085.58       1
9998               0         92888.52       1
9999               0         38190.78       0

[10000 rows x 9 columns]

In [8]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values
print(x)

[[1.5634602e+07 6.1900000e+02 2.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [1.5647311e+07 6.0800000e+02 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 1.1254258e+05]
 [1.5619304e+07 5.0200000e+02 8.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1393157e+05]
 ...
 [1.5584532e+07 7.0900000e+02 7.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [1.5682355e+07 7.7200000e+02 3.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 9.2888520e+04]
 [1.5628319e+07 7.9200000e+02 4.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 3.8190780e+04]]

In [9]:
print(y)

[1 0 1 ... 1 1 0]

In [10]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1 = pd.DataFrame(scaler.fit_transform(df))
print(df1)

             0      1    2         3         4    5    6         7    8
0     0.275616  0.538  0.2  0.000000  0.000000  1.0  1.0  0.506735  1.0
1     0.326454  0.516  0.1  0.334031  0.000000  0.0  1.0  0.562709  0.0
2     0.214421  0.304  0.8  0.636357  0.666667  1.0  0.0  0.569654  1.0
3     0.542636  0.698  0.1  0.000000  0.333333  0.0  0.0  0.469120  0.0
4     0.688778  1.000  0.2  0.500246  0.000000  1.0  1.0  0.395400  0.0
...        ...    ...  ...       ...       ...  ...  ...       ...  ...
9995  0.162119  0.842  0.5  0.000000  0.333333  1.0  0.0  0.481341  0.0
9996  0.016765  0.332  1.0  0.228657  0.000000  1.0  1.0  0.508490  0.0
9997  0.075327  0.718  0.7  0.000000  0.000000  0.0  1.0  0.210390  1.0
9998  0.466637  0.844  0.3  0.299226  0.333333  1.0  0.0  0.464429  1.0
9999  0.250483  0.884  0.4  0.518708  0.000000  1.0  0.0  0.190914  0.0

[10000 rows x 9 columns]

In [11]:
from sklearn.model_selection import train_test_split
xtrain,ytrain,xtest,ytest=train_test_split(x,y,test_size=0.2,random_state=2)
print(xtrain)
print(len(xtrain))
print(xtest)
print(len(xtest))

[[1.5759733e+07 7.7400000e+02 5.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 6.4716080e+04]
 [1.5673908e+07 6.0200000e+02 6.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.3188646e+05]
 [1.5757425e+07 7.1600000e+02 1.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 9.9661460e+04]
 ...
 [1.5668767e+07 8.5000000e+02 3.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.9503307e+05]
 [1.5592736e+07 5.5100000e+02 5.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.7668016e+05]
 [1.5801072e+07 6.5400000e+02 7.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.5131637e+05]]
8000
[0 0 0 ... 0 1 0]
8000

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df1 = sc.fit_transform(df)
print(df1)

[[-0.78321342 -0.32622142 -1.04175968 ...  0.97024255  0.02188649
   1.97716468]
 [-0.60653412 -0.44003595 -1.38753759 ...  0.97024255  0.21653375
  -0.50577476]
 [-0.99588476 -1.53679418  1.03290776 ... -1.03067011  0.2406869
   1.97716468]
 ...
 [-1.47928179  0.60498839  0.68712986 ...  0.97024255 -1.00864308
   1.97716468]
 [-0.11935577  1.25683526 -0.69598177 ... -1.03067011 -0.12523071
   1.97716468]
 [-0.87055909  1.46377078 -0.35020386 ... -1.03067011 -1.07636976
  -0.50577476]]